body {
  font-family: "Roboto", serif;
}
.before-login {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.before-login-container {
  border: 2px solid rgb(0, 0, 0, 0.5);
  width: 33vw;
  text-align: center;
  border-radius: 0.5rem;
  background-color: rgb(128, 128, 128, 0.1);
}
.before-login-container p {
  font-weight: 500;
  color: rgb(0, 0, 0, 0.7);
}
