.header-container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
.header-container img {
  width: 1.5vw;
}
.input-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid grey;
  padding: 0;
  height: 5vh;
  &:hover {
    cursor: pointer;
  }
}
.input-search input {
  width: 30vw;
  font-size: 1rem;
  height: 4vh;
  border-radius: 2rem;
  border: none;
  padding-left: 1vw;
}
.input-search button {
  padding: 0.3rem;
  width: 5vw;
  border: none;
  background-color: rgb(128, 128, 128, 0.3);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.voice-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  height: 6vh;
}
.voice-input button {
  padding: 0.3rem;
  border-radius: 50%;
  width: 2.5vw;
  border: none;
  margin-top: -0.5vh;
  background-color: rgb(128, 128, 128, 0.3);
  &:hover {
    cursor: pointer;
    border: 1px solid black;
  }
}
.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  position: relative;
  left: 18vw;
}
.create-in-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 6vw;
  background-color: rgb(128, 128, 128, 0.2);
  height: 3.8vh;
  gap: 0.3vw;
  font-weight: 700;
  padding: 0.2rem;
  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}
.create-in-button img {
  width: 1.2vw;
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
}
.notification-icon {
  padding: 0.6rem;
  border-radius: 50%;
  &:hover {
    background-color: rgb(128, 128, 128, 0.2);
    cursor: pointer;
  }
}
.after-login-profile,
.channel-profile-photo {
  background-color: rgb(192, 25, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 2.5vw;
  border-radius: 50%;
  cursor: pointer;
}
.after-login-profile-photo,
.channel-profile-photo {
  font-size: 1.6rem;
  color: white;
}
.channel-name {
  display: flex;
}
.channel-info h2 {
  margin-left: 0.5vw;
}
.channel-info h3 {
  margin-left: 0.5vw;
  margin-top: -2vh;
}
.channel-info a {
  margin-left: -0.5vw;
  margin-top: -3vh;
  color: blue;
  font-weight: 500;
}
.channel-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
}
.dropdown-content hr {
  width: 100%;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 2vw;
  top: 5vh;
  background-color: #f9f9f9;
  width: 17vw;
  height: 88vh;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.5);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:active {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.channel-profiles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
  padding-left: 0.5vw;
  margin-top: -2vh;
}
