.header-container-area {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  background-color: white;
  position: fixed;
  top: 0;
  margin: 0;
  height: 8vh;
  width: 50vw;
  margin-left: 0vw;
  padding-left: 90vw;
  z-index: 100;
}
.hidden-container {
  visibility: hidden;
}
.sign-in-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  height: 8vh;
  padding-left: 10vw;
  padding-right: 2vw;
  z-index: 100;
  background-color: white;
}
.header-container img {
  width: 1.5vw;
}
.header-container-area img {
  width: 1.5vw;
}
.input-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid grey;
  padding: 0;
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  &:hover {
    cursor: pointer;
  }
}
.input-search input {
  width: 30vw;
  font-size: 1rem;
  height: 4vh;
  border-radius: 2rem;
  border: none;
  padding-left: 1vw;
}
.input-search button {
  padding: 0.3rem;
  width: 5vw;
  border: none;
  background-color: rgb(128, 128, 128, 0.3);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  &:hover {
    cursor: pointer;
  }
}
.voice-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  height: 6vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.voice-input button {
  padding: 0.3rem;
  border-radius: 50%;
  width: 2.5vw;
  border: none;
  margin-top: -0.5vh;
  background-color: rgb(128, 128, 128, 0.3);
  &:hover {
    cursor: pointer;
    border: 1px solid black;
  }
}
.create-in-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 6vw;
  background-color: rgb(128, 128, 128, 0.2);
  height: 3.8vh;
  gap: 0.3vw;
  font-weight: 700;
  padding: 0.2rem;
  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}
.create-in-button span {
  font-size: 1.5rem;
  font-weight: 400;
}
.notification-icon {
  padding: 0.6rem;
  border-radius: 50%;
  &:hover {
    background-color: rgb(128, 128, 128, 0.2);
    cursor: pointer;
  }
}
.after-login-profile,
.channel-profile-photo {
  background-color: rgb(192, 25, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 2.5vw;
  border-radius: 50%;
  cursor: pointer;
}
.after-login-profile-photo,
.channel-profile-photo {
  font-size: 1.6rem;
  color: white;
}
.channel-name {
  display: flex;
}
.channel-info h2 {
  margin-left: 0.5vw;
}
.channel-info h3 {
  margin-left: 0.5vw;
  margin-top: -2vh;
  font-weight: 400;
}
.channel-info a {
  margin-left: -0.5vw;
  margin-top: -3vh;
  font-weight: 500;
  &:hover {
    color: rgb(21, 92, 200);
  }
}
.channel-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
}
.dropdown-content hr {
  width: 100%;
}
.dropdown-content {
  display: none;
  position: fixed;
  right: 3vw;
  top: 2vh;
  background-color: #f9f9f9;
  width: 17vw;
  height: 93vh;
  padding-top: 3vh;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.3);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:active {
  background-color: #f1f1f1;
}
.after-login-profile:hover .dropdown-content {
  display: block;
}
.channel-profiles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
  padding-left: 0.5vw;
  margin-top: -1vh;
  height: 6.6vh;
  &:hover {
    background-color: rgb(128, 128, 128, 0.3);
  }
}
.channel-profiles p {
  opacity: 0.9;
}

@media (max-width: 1000px) {
  .input-search {
    position: relative;
    top: 3vh;
  }
  .voice-input {
    position: relative;
    top: 3vh;
  }
  .create-in-button {
    width: 10vw;
  }
  .notification-icon {
    display: none;
  }
  .after-login-profile {
    width: 7vw;
  }
}

@media (max-width: 500px) {
  .header-container-area {
    margin-top: 7vh;
  }
  .create-in-button {
    display: none;
  }
  .after-login-profile {
    width: 10vw;
    height: 3vh;
  }
}
