.my-channel-container {
  height: 100vh;
  position: relative;
  top: 10vh;
  left: 15vw;
}
body {
  overflow-x: hidden;
}
.my-channel-name {
  display: flex;
  justify-content: start;
  align-items: center;
}
.my-channel-name1 p {
  background-color: purple;
  color: white;
  height: 22.5vh;
  width: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  border-radius: 50%;
  margin-left: 2vw;
  margin-top: 5vh;
}
.my-channel-name2 {
  padding-left: 3vw;
  margin-top: -19vh;
}
.my-channel-name2 h1 {
  font-size: 3.5rem;
}
.my-channel-name2 span:nth-of-type(2),
.my-channel-name2 span:nth-of-type(3) {
  color: grey;
}
.my-channel-name2 span:nth-of-type(1) {
  font-weight: 700;
}
.channel-info {
  margin-top: -4vh;
}
.my-channel-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.my-channel-buttons button {
  border: none;
  background-color: rgb(128, 128, 128, 0.3);
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(0, 0, 0, 0.8);
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
.my-channel-category {
  padding-left: 5vw;
  display: flex;
  gap: 2.5vw;
  font-weight: 600;
  margin-top: -10vh;
}
.my-channel-container hr {
  width: 100vw;
  margin-top: 1vh;
}
.my-channel-category span {
  padding: 0.2rem;
  border-radius: 0.3rem;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
.for-you {
  margin-left: 1vw;
}
