.header-container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
.header-container img {
  width: 1.5vw;
}

.input-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid grey;
  padding: 0;
  height: max-content;
  &:hover {
    cursor: pointer;
  }
}
.input-search input {
  width: 30vw;
  font-size: 1rem;
  height: 4vh;
  border-radius: 2rem;
  border: none;
  padding-left: 1vw;
}
.input-search button {
  padding: 0.3rem;
  width: 5vw;
  border: none;
  background-color: rgb(128, 128, 128, 0.3);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.voice-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  height: 6vh;
}
.voice-input button {
  padding: 0.3rem;
  border-radius: 50%;
  width: 2.5vw;
  border: none;
  margin-top: -0.5vh;
  background-color: rgb(128, 128, 128, 0.3);
  &:hover {
    cursor: pointer;
    border: 1px solid black;
  }
}
.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  position: relative;
  left: 22vw;
  margin-top: 1vh;
}
.sign-in-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 2rem;
  width: 6vw;
  height: 4vh;
  gap: 0.3vw;
  font-weight: 900;
  padding: 0.2rem;
  &:hover {
    cursor: pointer;
    color: rgb(0, 76, 255);
    border: 2px solid rgb(0, 76, 255);
  }
}
a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1000px) {
  .input-search {
    margin-top: -1vh;

    height: 4vh;
  }
  .input-search input {
    height: 3vh;
  }
  .input-search button {
    height: 4vh;
  }
  .voice-input {
    margin-top: -1.7vh;
    width: 5vw;
  }
  .voice-input button {
    width: 4.5vw;
  }
  .voice-input img {
    width: 2.7vw;
  }
  .sign-in img {
    width: 3vw;
  }
  .sign-in {
    margin-top: -1vh;
    margin-left: -15vw;
  }
  .sign-in-button {
    width: 13vw;
    height: 3vh;
  }
}
@media (max-width: 500px) {
  .header-container {
    margin-top: 9vh;
  }
  .input-search {
    margin-left: -18vw;
  }
  .input-search input {
    width: 50vw;
    height: 3vh;
  }
  .input-search button {
    width: 7vw;
  }
  .input-search img {
    width: 4vw;
  }
  .voice-input img {
    width: 4vw;
  }
  .voice-input button {
    display: none;
  }
  .sign-in img:nth-of-type(1) {
    display: none;
  }
  .sign-in-button {
    width: 17vw;
    margin-top: 0.3vh;
  }
}
