.video-displayer {
  margin-left: 6vw;
  margin-top: 9vh;
  cursor: pointer;
}
.video-displayer iframe {
  border-radius: 0.5rem;
  cursor: pointer;
}
.video-title {
  width: 62vw;
  padding-left: 6vw;
}
.video-title h1 {
  font-size: 1.4rem;
  font-weight: 480;
}
.channel-display-container {
  display: flex;
  width: 60vw;
  gap: 7vw;
  padding-left: 6vw;
  margin-top: -2vh;
}
.channel-display-container1 {
  display: flex;
}
.channel-display-container2 {
  display: flex;
  gap: 0.5vw;
}
.channel-display-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
}
.channel-display-logo img {
  width: 2.8vw;
  height: 6vh;
  border-radius: 50%;
}
.channel-display-name {
  height: 10vh;
  padding-left: 0.5vw;
}
.channel-display-name p {
  font-weight: 490;
  font-size: 1.1rem;
}
.channel-display-name p:nth-of-type(2) {
  color: grey;
  margin-top: -1vh;
  font-size: 0.8rem;
}
.subscribe-button {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1vw;
}
.subscribe-button button {
  padding: 0.6rem;
  width: 6.5vw;
  border-radius: 1.2rem;
  font-weight: 700;
  border: none;
  color: white;
  background-color: black;
  font-size: 0.9rem;
  &:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
  }
}

.channel-display-container2 img {
  width: 1.3vw;
}
.channel-display-likes {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 10vh;
}
.channel-display-likes button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  padding: 0.3rem;
  padding-left: 0.5rem;
  background-color: rgb(128, 128, 128, 0.3);
  &:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.3);
  }
}
.channel-display-likes span {
  font-size: 1rem;
}
.likes {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: none;
}
.dislikes {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: none;
  border-left: 2px solid grey;
}
.channel-display-share {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  height: 5vh;
  margin-top: 2.5vh;
  width: 6vw;
  border-radius: 2rem;
  background-color: rgb(128, 128, 128, 0.3);
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  &:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.3);
  }
}

.channel-display-download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  height: 5vh;
  margin-top: 2.5vh;
  width: 7vw;
  border-radius: 2rem;
  background-color: rgb(128, 128, 128, 0.3);
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  &:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.3);
  }
}

.channel-display-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  height: 5vh;
  margin-top: 2.5vh;
  width: 1.3vw;
  border-radius: 50%;
  background-color: rgb(128, 128, 128, 0.3);
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  &:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.3);
  }
}
.video-displayer-description {
  background-color: rgb(128, 128, 128, 0.2);
  padding-top: 1vh;
  width: 57vw;
  padding-left: 1vw;
  margin-left: 6vw;
  border-radius: 1rem;
}
.video-displayer-description span {
  font-weight: 600;
  margin-right: 0.5vw;
}
.video-displayer-description p {
  margin-top: 1vh;
}
.video-displayer-description p:nth-of-type(2) {
  margin-top: -2vh;
}
.video-displayer-comments {
  display: flex;
  margin-left: 6vw;
  font-size: 1.3rem;
  font-weight: 700;
  gap: 2vw;
  margin-top: -1vh;
}
.sort-by-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  font-weight: 600;
  margin-top: -1vh;
}
.sort-by-container img {
  width: 2.5vw;
}
.video-displayer-add-comment {
  margin-left: 6vw;
  margin-bottom: 3vh;
}
.video-displayer-add-comment img {
  width: 3vw;
  height: 6vh;
  border-radius: 50%;
  margin-top: 2vh;
}
.video-displayer-add-comment input {
  width: 55vw;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 0.6vw;
  font-size: 1rem;
  position: relative;
  top: -2.5vh;
}
.add-comment-buttons {
  display: flex;
  width: 59vw;
  justify-content: flex-end;
  gap: 1.5vw;
}
.add-comment-buttons button {
  width: 7vw;
  border-radius: 2rem;
  border: none;
  padding: 0.7rem;
  font-weight: 600;
  color: rgb(0, 0, 0, 0.7);
  &:hover {
    background-color: black;
    color: white;
  }
}
.video-comments-cards {
  margin-left: 6vw;
  margin-bottom: 2vh;
  width: 60vw;
  height: 15vh;
  display: flex;
}
.comment-logo img {
  border-radius: 50%;
  width: 3vw;
  height: 6vh;
}
.comment-logo {
  width: 5%;
}
.comment-info {
  margin-left: 1vw;
  width: 80%;
}
.comment-person {
  display: flex;
  gap: 0.3vw;
  font-weight: 600;
  margin-top: -1vh;
}
.comment-person p:nth-of-type(2) {
  color: grey;
  font-size: 0.8rem;
  margin-top: 2.5vh;
}
.main-comment {
  margin-top: -3vh;
}
.comments-likes img {
  width: 1.5vw;
  position: relative;
  margin-top: -0.5vh;
}
.comments-likes img:nth-of-type(2) {
  position: relative;
  top: 0.5vh;
}
.comments-likes {
  display: flex;
  gap: 0.4vw;
}
.comments-likes span:nth-of-type(1) {
  margin-right: 0.5vw;
}
.comments-edit-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.comments-edit-button button {
  background-color: rgb(128, 128, 128, 0.2);
  width: 6vw;
  padding: 0.3rem;
  border-radius: 2rem;
  border: none;
  &:hover {
    color: white;
    background-color: black;
  }
}
.main-comment textarea {
  width: 30vw;
  height: 7vh;
  margin-top: 2vh;
  margin-bottom: 1vh;
}
