body {
  margin: 0;
  font-family: "Roboto", serif;
}
.app-container {
  display: flex;
  width: 15vw;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar {
  color: black;
  width: 240px;
  min-height: 100vh;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

/* Scrollable Content - Starts from 10vh */
.sidebar-content {
  margin-top: 0.5vh;
  overflow-y: auto;
  max-height: calc(100vh - 10vh); /* Prevents overflow */
  /* Custom Scrollbar (existing styles) */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a8a5a5 transparent;
  &:hover {
    cursor: pointer;
  }
}
.sidebar.closed {
  width: 75px;
}
.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  margin-left: -0.5vw;
  margin-top: -2.5vh;
}
.menu-section {
  margin-left: 0.8vw;
}
.section-title {
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 1vh;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
  color: inherit;
}
.menu-item:hover {
  background-color: rgb(51, 51, 51, 0.3);
  border-radius: 0.5rem;
}
.menu-item span {
  margin-left: 15px;
  font-size: 14px;
}
.menu-icon {
  width: 24px;
  height: 24px;
}
.menu-button .image1 {
  width: 1.4vw;
  margin-top: 2.5vh;
  margin-left: 1vw;
  padding: 0.6rem;
  &:hover {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 50%;
  }
}
.menu-button .image2 {
  width: 2vw;
}
.menu-button h2 {
  font-size: 1.1rem;
  margin-left: 0.2vw;
  margin-top: 2vh;
  line-height: 2.5; /* Adjust this value to stretch the text vertically */
  transform: scaleY(1.25); /* Stretches the text vertically */
  letter-spacing: -1.5px;
  font-weight: 800;
  color: black;
}
.menu-button sup {
  margin-top: -2.5vh;
  padding: 0.4rem;
  opacity: 0.7;
  color: black;
  font-weight: 600;
}
.homepage-youtube-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  opacity: 0.3;
  width: 13.5vw;
}
pre {
  padding: 0;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-top: 0;
}
.menu-button a {
  position: fixed;
  margin-left: 5vw;
  margin-top: 2.5vh;
  text-decoration: none;
}
