.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.9);
  height: 100vh;
}
.login-container {
  display: flex;
  border: 2px solid hsl(0, 0%, 0%);
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  height: 55vh;
  width: 75vw;
  border-radius: 2rem;
}

.login-info img {
  width: 3vw;
  margin-left: 2vw;
  margin-top: 4vh;
}
.login-info h1 {
  margin-left: 2vw;
  font-weight: 500;
}
.login-info p {
  margin-left: 2vw;
  width: 85%;
  font-weight: 700;
  opacity: 0.7;
}
.login-details {
  padding-top: 7vh;
}
.login-details input {
  width: 28vw;
  border: 1px solid rgb(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: transparent;
  color: white;
}
.login-details1 {
  margin-top: 4vh;
}
.login-details1 input {
  width: 28.5vw;
  border: 1px solid rgb(255, 255, 255, 0.7);
  padding: 1rem;
  margin: 10px;
  border-radius: 0.3rem;
  background-color: transparent;
  color: white;
}

.login-details h3 {
  font-size: 0.9rem;
  color: rgb(123, 160, 213);
  &:hover {
    cursor: pointer;
  }
}
.login-details p {
  margin-top: 2vh;
  font-size: 0.95rem;
}
.login-details-name {
  display: flex;
}
.login-details-name input {
  width: 12.5vw;
}
.login-details a,
.login-details1 a {
  text-decoration: none;
  color: rgb(123, 160, 213);
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.login-details1 p {
  width: 80%;
}
.login-submit-button {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  padding-top: 2vh;
}
.login-submit-button1 {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  padding-top: 2vh;
}
.login-submit-button button,
.login-submit-button1 button {
  padding: 0.7rem;
  width: 5vw;
  border-radius: 2rem;
  border: none;
  background-color: rgb(123, 160, 213);
  font-weight: 700;
  color: rgb(11, 38, 75);
  &:hover {
    cursor: pointer;
  }
}
.login-page-help {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  width: 75vw;
}
.help-items {
  display: flex;
  color: white;
  font-weight: 400;
  opacity: 0.8;
  gap: 1vw;
}
.help-items p {
  color: white;
  padding: 0.3rem;
  &:hover {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
.language-select {
  padding: 0.8rem;
}
.language-select select {
  color: white;
  background: none;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  &:hover {
    cursor: pointer;
    background-color: rgb(128, 128, 128, 0.2);

    border-radius: 0.4rem;
  }
}
.language-select option {
  background-color: rgb(2, 2, 2, 0.9);
  border: none;
}
.props-handling {
  visibility: hidden;
}

@media (max-width: 900px) {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .login-submit-button button {
    width: 13vw;
  }
  .login-details input {
    width: 80%;
  }
  .login-submit-button1 button {
    width: 13vw;
  }
  .login-details1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-submit-button1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
